header {
    grid-area:header;
    background-color: blue;
    color: white;
}

main {
    background: red;
    color: white;
    grid-area:main;
}

aside {
    grid-area:aside;
    background: green;
    color: white;
}

footer {
    background: rgb(115, 45, 115);
    color: white;
    grid-area:footer;
}
html,body{
    height:100%;
}
body{
    display:grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 200px auto 200px;
    grid-template-areas: "header header"
                         "aside main"
                         "footer footer";
}

